extends /layouts/layout.pug

block content
  div.browse
    ul.profiles
      each profile in profiles
        li
          a(href="/profile?name=" + profile.name).card
            div.image
              img(src= "images/" + profile.image, alt="profile photo")
            div.bio
              p.name= profile.name
              p.job= profile.job
