extends /layouts/layout.pug

block content
  div.home
    include /includes/carousel
    h1 Hay Love
    p Online dating by horses, for horses
    div.roamContainer
      a(href='/profile')#roam
        span START ROAMING