extends /layouts/layout.pug

block content
  div.signup
    div.warning
      h1 WARNING
      p All new members must now sign and submit a liability release before joining.
      p After receiving your release, you will be notified of your eligibility to create a new profile.
      p Have a nice day!
    a(href='/download') Download release form