extends layouts/layout.pug

block content
  div.trivia
    h1 Trivia!

    div#card
      div#info
        span#time Time: 0:00
        span#score Score: 00

      p#question Loading question...

      div#buttons
        div#answers
          button.answer Answer 1
          button.answer Answer 2
          button.answer Answer 3
          button.answer Answer 4
        button#next Next


