extends layouts/layout.pug

block content
  h1 Trivia!

  div#card
    div#info
      span#time time: 0:00
      span#score score: 00

    div#question
      p Question!

    div#buttons
      div#answers
        button.answer Answer 1
        button.answer Answer 2
        button.answer Answer 3
        button.answer Answer 4
      button#next Next


