extends /layouts/layout.pug

block content
  div#home
    form#form
      div.field
        label(for="name").label Name
        input(type="text", name="name", placeholder="name of exercise" required).input#name
      div.field
        label(for="reps").label Reps
        input(type="number", name="reps", placeholder="number of reps").input#reps
      div.field
        label(for="weight").label Weight
        input(type="number", name="weight", placeholder="weight of weight").input#weight
      div.field
        label.label Units
        label(for="unitLB") lbs
        input(type="radio", name="unit", value="lbs" checked).radio#unitLB
        label(for="unitKG") kg
        input(type="radio", name="unit", value="kg").radio#unitKG
      div.field
        label(for="date").label Date
        input(type="date", name="date").input#date

      input(type="hidden", name="id")

      button(type='submit')#submit Add
      button(type='button')#cancel Clear

    table
      thead
        tr
          th Name
          th Reps
          th Weight
          th Unit
          th Date
          th options
      tbody#tablebody