extends /layouts/layout.pug

block content
  div#home
    form#form
      label(for="name") Name
      input(type="text", name="name", placeholder="name of exercise")#name

      label(for="reps") Reps
      input(type="number", name="reps", placeholder="number of reps")#reps

      label(for="weight") Weight
      input(type="number", name="weight", placeholder="weight of weight")#weight

      label(for="unitLB") lbs
      input(type="radio", name="unit", value="lbs" checked)#unitLB

      label(for="unitKG") kg
      input(type="radio", name="unit", value="kg")#unitKG

      label(for="date") Date
      input(type="date", name="date")#date

      button(type='submit')#submit Add

    div#table
      table
        thead
          tr
            th Name
            th Reps
            th Weight
            th Unit
            th Date
            th options
        tbody#tablebody

    div#results #{results}