div.carousel
  div.buttons
    button#prev
    button#next
  div.images
    img(src="images/bg_00.jpg", alt="horse").image
    img(src="images/bg_01.jpg", alt="horse").image
    img(src="images/bg_02.jpg", alt="horse").image
    img(src="images/bg_03.jpg", alt="horse").image
