div.carousel
  div.buttons
    button#prev
    button#next
  div.images
    img(src="images/horse00.jpg", alt="horse").image
    img(src="images/horse01.jpg", alt="horse").image
    img(src="images/horse02.jpg", alt="horse").image
    img(src="images/horse03.jpg", alt="horse").image
