div.header
  div.logo
    img(src="images/horses_logo.png", alt="Hay Love logo")

  div.menu
    a(href="/")
      span Home
    a(href="/profile")
      span Roam
    a(href="/browse")
      span Profiles
    a(href="/chat")
      span Chat
    a(href="/signup")
      span Sign up
