body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: all ease .2s;
}

i {
  color: #444;
}

a {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}