.browse {
  display: flex;
  justify-content: center;
}

.browse .profiles {
  padding: 0;
}

.browse .card {
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  color: #333;
  display: flex;
  justify-content: left;
  margin-bottom: 50px;
  text-decoration: none;
  transition: all ease .2s;
  width: 500px;
}

.browse .image {
  align-items: center;
  border-radius: 50px;
  display: flex;
  overflow: hidden;
  transition: all ease .2s;
  width: 150px;
  height: 150px;
}

.browse .card:hover {
  background: #38e7b6;
}

.browse .name {
  font-size: 22px;
}

.browse .bio {
  margin-left: 30px;
}

.browse img {
  height: 100%;
}