.chat {
  display: flex;
  justify-content: center;
}

.chat .chat-container {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.chat .chat-header {
  align-items: center;
  background: #38e7b6;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chat .image {
  border-radius: 50px;
  height: 50px;
  margin: 5px;
  overflow: hidden;
  width: 50px;
}

.chat .name {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

.chat #chatbox {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 400px;
  height: 500px;
}

.chat .message {
  color: #000;
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px;
  max-width: 70%;
  padding: 10px 20px;
}

.chat .got {
  align-self: flex-start;
}
.chat .sent {
  align-self: flex-end;
  color: #fff;
  background-color: #6a43ee;
}

.chat img {
  height: 100%;
}

.chat form {
  border-top: 1px solid #ccc;
  height: 60px;
  margin-bottom: 15px;
  width: 100%;
}

.chat input {
  border: none;
  font-size: 18px;
  height: 100%;
  outline: none;
  padding: 5px 10px;
  width: 80%;
}

.chat button {
  border: none;
  color: #333;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  width: 15%;
}