.footer {
  align-items: center;
  background-color: rgba(0,0,0,0.05);
  bottom: 0;
  color: #888;
  display: flex;
  font-size: 12px;
  height: 25px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.footer a {
  color: #666;
  display: inline;
  margin-left: 4px;
}