.home h1 {
  font-size: 190px;
  z-index: -1;
}

.home p {
  font-size: 20px;
}

.home h1, .home p {
  color: #fff;
  text-align: center;
  text-shadow:
    1px  1px 0 #333,
    1px -1px 0 #333,
   -1px  1px 0 #333,
   -1px -1px 0 #333;
   width: 100%;
}

.home .roamContainer {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 100%;
}

.home #roam {
  background: linear-gradient(0.25turn, #3f87a6, #f69d3c);
  border-radius: 30px;
  color: #eee;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  width: 240px;
  z-index: 100;
}

.home #roam:hover {
  background: #fff;
  color: #ff146a;
}